body {
  background: repeat url("/img/swirl.png");
  background-color: rgb(241, 39, 124);
  color: #FFF;
}

header, footer {
  text-align: center;
}

section.full {
  margin: -8px;
}
section.mosaic {
  --element-count: 2;
  --element-dimension: calc((100vw - 6px) / 2);
  box-sizing: border-box;
  display: grid;
  gap: 2px;
  grid-auto-rows: var(--element-dimension);
  grid-template-columns: repeat(var(--element-count), var(--element-dimension));
  max-width: 100vw;
  padding: 2px;
  width: 100vw;
}
@media (min-width: 720px) {
  section.mosaic {
    --element-count: 3;
    --element-dimension: calc((100vw - 8px) / 3);
  }
}

.tile {
  margin: 0;
  position: relative;
}
.tile > a:hover {
  cursor: pointer;
}
.tile picture > img {
  max-width: 100%;
  width: 100%;
}

.caption {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 25vh;
  z-index: 1;
}
.caption:target {
  display: block;
}
@media (min-width: 478px) {
  .caption {
    position: absolute;
    top: 0;
  }
}

.font-primary, h1 {
  font-family: 'Alex Brush', cursive;
}

.font-secondary {
  font-family: 'Carter One', cursive;
}