html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2vh;
}
body {
  background: repeat url("/img/swirl.png");
  background-color: #E32400;
  color: #FFF;
}
main {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: calc(100vh / 2) calc(100vh / 2);
}
section#visual {
  background-image: url( "/img/kongpaokip@600x800.jpg" );
  background-position: center;
  background-size: cover;
}
section#content {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
section#content > div {
  width: 100%;
}
section#content > div:first-child{
  position: relative;
  text-align: center;
}
div.ampersand {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  text-align: center;
  width: 150px;
  z-index: -1;
}
div.ampersand h3 {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Great Vibes', cursive;
  font-size: 10rem;
  font-weight: 400;
  line-height: 0.8;
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  font-family: 'Carter One', cursive;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  font-weight: 400;
}
button {
  background-color: #25D366;
  border: 3px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  height: 40px;
  padding: 0.3rem 2rem 0.3rem 2rem;
}
button:hover, button:focus {
  background-color: #075E54;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
button:active {
  background-color: #128C7E;
}
strong {
  font-weight: 600;
}
.align-center{
  text-align: center;
}
.align-right {
  text-align: right;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.small {
  font-size: 70%;
}
@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
  main {
    grid-template-columns: calc(100vw / 2) calc(100vw / 2);
    grid-template-rows: 100vh;
  }
  section#visual {
    order: 2;
  }
  section#content {
    align-self: center;
    height: 100%;
    max-height: 450px;
    order: 1;
  }
  section#content > div {
    max-width: 400px;
  }
  h1, h2 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    padding-left: 2rem;
  }
}
